.git
.gitignore
README.md
__docs__
.serena
.claude
.env.local
.env.local.example
.next
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# testing
/coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE files
.vscode
.idea

# OS files
Thumbs.db